<div class="hanoi-container">
  <div class="hanoi-aereal" style="position: relative">
    <div class="hanoi-aereal-piece" style="width: 100px; height: 100px"></div>
    <div
      class="hanoi-aereal-piece"
      style="
        width: 70px;
        height: 70px;
        background-color: green;
        top: 15px;
        left: 15px;
      "
    ></div>
    <div
      class="hanoi-aereal-piece"
      style="
        width: 50px;
        height: 50px;
        background-color: yellow;
        top: 25px;
        left: 25px;
      "
    ></div>
  </div>
  <div class="hanoi-lateral"></div>
</div>
